<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
            <key>footerText</key>
            <string>test1234 the passcode will be 1234 with the pattern</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.funso.dynamicpasscode</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSecureEditTextCell</string>
            <key>label</key>
            <string>Pattern</string>
            <key>defaults</key>
            <string>me.funso.dynamicpasscode</string>
            <key>key</key>
            <string>pattern</string>
            <key>noAutoCorrect</key>
            <true/>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>Respring</string>
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure to respring?</string>
				<key>title</key>
				<string>Respring</string>
				<key>okTitle</key>
				<string>Respring</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>About</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>View Source Code</string>
            <key>action</key>
            <string>sourcecode</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>View E-Mail Address</string>
            <key>action</key>
            <string>mail</string>
        </dict>
	</array>
	<key>title</key>
	<string>Dynamic Passcode</string>
</dict>
</plist>
